*{
    box-sizing: border-box;

}
body{
    background-image: url(https://fondosmil.com/fondo/89593.jpg);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0 1.5em;    
}
.content{
    max-width: 800px;
    
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}
.logo{
    text-align: center;
    font-size: 2.5em;
    color: rgb(8, 8, 8);

}
.contactagrupado{
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);

}
.contactagrupado{
    padding: 0em ;
   
}
.contact-form{
    background: rgb(245, 243, 243);
    color:rgb(8, 8, 8);
}



.contact-form form p{
    margin: 0;
    padding: 0;


}

.contact-form button,
.contact-form input,
.contact-form textarea{
    width: 100%;
    padding: 0.5em;
    border: none;
    background: none;
    outline: 0;
    border: 1px solid #080707;
    
}  
.contact-form form button{
    background: #eb4444;
    border: 0;
    text-transform: uppercase;
    padding: 4 em;
    color: rgb(5, 5, 5);
    border-radius: 7px;
    
    
}
.contact-form form button:hover,
.contact-form form button:focus{
    background: #3d3737;
    color: rgb(245, 240, 240);
    transition: background-color 1s ease-out;
    outline: 0;
    cursor: pointer;
}
.contact-info{
    background: #eb4444;
    
}
.contact-info h3,
.contact-info ul,
.contact-info p{
    text-align: center;
    margin: 0 0 1rem 0;
}
.contact-info ul{
    list-style: none;
    padding: 0;


}
.contact-info ul li{
    padding: 1em;
}
/*LARGE SCREEN*/

@media (min-width: 700px) {
    body{
        padding: 0 4rem;

    }

    .contactagrupado{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
}

.contactagrupado > *{
    padding: 2em;
}

.contact-info h3,
.contact-info ul,
.contact-info p{
    padding: 1em;
    text-align: justify;
}

.btn{
    margin-top: 20%;
}
 label{
     display: flex;
     justify-content: center;
     padding-top: 20px;
 }
