
:root{
    --rojo: #FF3352;
    --negro: #050404;
    --degradado:linear-gradient(90deg, var(--negro), var(--rojo));
}

*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
}
*::selection¨{
    background: var(--negro);
    color: white;
}
html{
    font-size: 62.4%;
    overflow: hidden;
}
body{
    background: #f9f9f9;
}

section{
    min-width: 100vh;
    padding: 0 9%;
    padding-top: 7.5 rem;
    padding-bottom: 2rem;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0  .5rem 1rem rgba(214, 24, 24, 0.1);
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;

}
header .logo{
    font-size: 2rem;
    color: var(--rojo);

}


header .logo span{
    color: var(--negro);
}
header .navbar a{
    font-size:  1.8rem;
    margin-left: 2rem;
    color: var(--rojo);
}
header .navbar a:hover{
    color: var(--negro);
}
.content{
    color: #050404;
}
.inicio{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(https://fondosmil.com/fondo/89624.jpg)no-repeat;
    background-size: cover;
    background-position: center;

}
.inicio .image img{
    width: 25vw;
    animation: float 3s linear infinite;
    
}
@keyframes float{
    0%, 100%{
        transform: translateY(0rem);
    }
    50%{
        transform: translateY(-3.5rem);
    }
}
.inicio .content h3{
    font-size: 5.5rem;
    color: var(--rojo);
    text-transform: uppercase;
}
.inicio .content p{
    font-size: 1.7rem;
    color: #0c0b0b;
    padding: 1rem 0;
    justify-content: space-between;
}


