

body{
    background-color: rgb(179, 245, 250);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
}

section{
    min-width: 100vh;
    padding: 0 9%;
    padding-top: 3 rem;
    padding-bottom: 2rem;
}
h2{
    text-align: center;
    color: #eb4444;
    font-size: 2.5em;

}

.imagen .image img{
    width: 100%;
    height: 300px;
    animation: float 3s linear infinite;
    border-radius: 10px;
    padding-top: 20px;
   
}
.agrupado{
    text-align: justify;
    padding: 0%;
}
.agrupado .primera{
    width: 100%;
    padding: 0.5em;
    border: none;
    background: none;
    outline: 0;
       
}
.agrupado .segunda{
    width: 100%;
    padding: 0.5em;
    border: none;
    background: none;
    outline: 0;
}
@media (min-width:700px){
    body{
        padding: 0 4 rem;
    }
    .agrupado{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}