* {
    box-sizing: border-box;
}

body {
    background: rgb(179, 245, 250);
    color: #fff;
    line-height: 1.6;
    font-family: 'Poppins', sans-serif;
    padding: 0 1.5em;
}

.contenedor {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}

.contenedor h1{
    color: white;
}

ul {
    list-style: none;
    padding: 0;
}

.titulo {
    text-align: center;
    font-size: 3em;
    background-color: #F66060;
    border-radius: 20px;
}

.postulacion_agrupacion {
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
}

.postulacion_agrupacion > * {
    padding: 1em;
}

.prostulacion_formulario {
    background: #222222;
}

.prostulacion_formulario form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.prostulacion_formulario form label {
    display: block;
}

.prostulacion_formulario form p {
    margin: 0;
    padding: 1em;
}

.prostulacion_formulario form{
    grid-column: 1 / 3;
}

.prostulacion_formulario form input,
.prostulacion_formulario form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color: #fff;
    border-bottom: 1px solid #d63031;
    
}




/* INFO */
.postulacion_info {
    background: #000;
}

.postulacion_info h4, .postulacion_info ul, .postulacion_info p {
    text-align: center;
    margin: 0 0 1rem 0;
}

/* RESPONSIVO */
@media(min-width: 700px) {
    body {
        padding: 0 4em;
    }
    .postulacion_agrupacion {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .postulacion_agrupacion > * {
        padding: 2em;
    }
    .postulacion_info h4,
    .postulacion_info ul,
    .postulacion_info p {
        text-align: left;
    }
}

.formulario__validacion-estado {
	position: absolute;
	right: 205px;
	top: 170px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

.formulario__input-error {
	font-size: 12px;
	margin-bottom: 0;
    margin-top: 5px;
    width: 400px;
    color: red;
    display: none;
}

.formulario__input-error-activo {
	display: block;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 2;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
    border-radius: 50px;
    width: 320px;
}

.block__btn{
    display: flex;
	flex-direction: column;
	align-items: center;
}

.btn{
    font-size: 17px;
    height: 45px;
	line-height: 45px;
	width: 30%;
	background: #F66060;
	color: #fff;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: .1s ease all;
}

.btn:hover {
	box-shadow: 3px 0px 30px rgba(163,163,163, 1);
}

.backside{
    color: white;
}